body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	padding-bottom: 40px;
	background-image:url('http://aussieops.net/Coder4Hire/Images/grey_wash_wall.png');
	background-repeat:repeat-x-y;
}

.content{
	background-color: #FFFFFF;
}

.form-signin {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}

.AdminButton{
	padding:10px 10px 10px 10px;
	margin:0 auto;
	text-align:center;
}
#center_text{
	text-align:center;
	float:none;
	margin:0 auto;
}

#job_image{
	border:3px solid #B8B8B8;
	border-radius: 3px;
}

#profile_image{
	width:100%;
	height:100%;
	border:3px solid #B8B8B8;
	border-radius: 3px;
}
#Profile_Job_H3{
	position:relative;
	top:140px;
}
#Profile_Fluid{
	height:200px;
	position:relative;
	top:-70px;
	float:right;
}

hr {
	height: 5px;
	border: 1px dashed #B8B8B8;
	z-index: 1005;
    background: #B8B8B8;
}

.formlabel{
    clear:left;
    display:block;
    float:left;
    margin:0 0 1em 0;
    padding:0 0.5em 0 0;
    text-align:right;
    width:10em;
}

.forminput{
    float:left;
    margin:0 0.5em 0.5em 0;
}
#job_new_ban{
    text-align:center;
	font-weight: bolder;
	width:60%;
	float:none;
	margin:0 auto;
}
#job_new_warn{
    text-align:center;
	font-weight: bolder;
	width:90%;
	float:none;
	margin:0 auto;
}

#job_timeleft{
	float:right;
	position:relative;
	top:-80px;
}
#job_desc {
	float:right;
	position:relative;
	top:-40px;
}

#email{
	text-align:center;
}

#comment{
	text-align:center;
	margin:0 auto;
}

h1,h2,h3{
	padding-left:20px;
}
#container{
	padding-left:6px;
	padding-right:6px;
}
#footer{
	text-align:center;
}

textarea
{
   resize: none;
}

#script_report {
	position:relative;
	left:100px;
	top:-82px;
}

#job_report {
	position:relative;
	left:100px;
	top:-40px;
}

#loading {
	width: 50%;
	margin:0 auto;
}
#Cost {
	font-family: Tahoma, sans-serif;
	font-weight:bolder;
	font-size:24px;
}

.commenter_comment{
	text-align: left;
	font-family: Tahoma, sans-serif;
	position: relative;
	left:13%;
	top:-90px;
	width: 80%;
	max-height:150px;
}

.commenter_a{
	text-align: left;
	position: relative;
	top: -20px;
	left: -43.5%;
}

.commenter_image{
	border-radius: 3px;
}

.commenter_name{
	text-align: left;
	position: relative;
	top: -30px;
	left: 20px;
	float:left;
	width:95%;
	font-size: 16px;
	font-weight: bold;
}
